@import '../../variables.scss';

.movieGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-medium;
}

@media (min-width: $media-desktop) {
  .movieGrid {
    max-width: $width-container;
    grid-template-columns: repeat(4, 1fr);
    gap: $space-medium;
  }
}
