@import '../../variables.scss';

.movieGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-small;
}

@media (min-width: $media-desktop) {
  .movieGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: $space-big;
  }
}
