.movieGrid {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0 0 3rem;
}

// TODO: make separate component
.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  min-height: 22rem;
  width: 100%;
}
