.movieContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.movieCard {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  border-radius: 0.5rem;
  max-width: 60%;
  text-align: center;

  h1 {
    font-weight: lighter;
    margin: 1rem;
  }

  button {
    cursor: pointer;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  text-align: left;

  img {
    padding: 1rem;
    max-height: 16rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 1rem;
  }
}
