.container {
  background-color: rgba(128, 128, 128, 0.685);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 60%;

  h1 {
    font-weight: lighter;
    margin: 1rem;
  }
}

.chosenMovie {
  display: flex;
  justify-content: space-evenly;

  img {
    padding: 1rem;
    max-height: 16rem;
  }

  p {
    margin: 1rem;
  }
}

.close {
  text-align: right;

  &:hover {
    cursor: pointer;
  }
}

.movieDetails {
  text-align: left;
  padding-left: 1rem;
}
