.selectedMovie {
  background-color: rgba(128, 128, 128, 0.685);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 60%;
  text-align: center;

  h1 {
    font-weight: lighter;
    margin: 1rem;
  }

  button {
    cursor: pointer;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  text-align: left;

  img {
    padding: 1rem;
    max-height: 16rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 1rem;
  }
}
