.movieContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.movieCard {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  border-radius: 0.5rem;
  height: 24rem;
  width: 50rem;
  margin: 4rem;

  img {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 100%;
    max-width: 35%;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.movieInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;

  h1 {
    font-weight: normal;
    margin-right: 10rem;
  }
}

.closeButton {
  position: absolute;
  right: 0rem;
  top: 0rem;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  height: 4rem;
  width: 4rem;

  &:hover {
    cursor: pointer;
  }
}
