@import '../../variables.scss';

.search {
  margin-bottom: $space-big;
  border-radius: $space-big;
  background-color: $color-navy;
  overflow: hidden; // to clip the form rounded corners
}

.search header {
  padding: $space-big;

  p {
    margin-bottom: 0;
  }
}

.search input,
.search button {
  vertical-align: middle;
}

.search form {
  background-color: $color-blue;
  padding: $space-big;
}

.search input {
  vertical-align: middle;
  width: calc(100% - $height);
  height: $height;
  margin: 0;
  padding: $space-small $space-medium;
  border: none;
  outline: none;
  border-radius: $height 0 0 $height;
}

.search input::placeholder {
  color: $color-cyan;
}

.search button {
  width: $height;
  height: $height;
  background-color: white;
  border-radius: 0 $height $height 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: $color-blue;
}

.search button:hover {
  color: darken($color-blue, 10%);
}

.search button svg {
  width: 18px;
  height: auto;
}

@media (min-width: $media-desktop) {
  .search {
    max-width: $width-container;
  }
  .search header {
    padding: $space-ultra $space-big;

    p {
      max-width: 67%; // 3/4 of the screen for styling purposes
    }
  }

  .search .form {
    padding: $space-ultra $space-big;
  }

  .search button svg {
    width: 21px;
  }
}
