@import '../../variables.scss';

.search {
  margin-bottom: $space-big;
  border-radius: $space-big;
  background-color: $color-navy;
  overflow: hidden; // to clip the form rounded corners
}

.search header {
  padding: $space-big;

  p {
    margin-bottom: 0;
  }
}

.search form {
  background-color: $color-blue;
  padding: $space-big;
}

.search input {
  vertical-align: middle;
  width: calc(100% - $height);
  height: $height;
  margin: 0;
  padding: $space-small $space-medium;
  border: none;
  outline: none;
  border-radius: $height 0 0 $height;
}

.search input::placeholder {
  color: $color-cyan;
}

.search button {
  width: $height;
  height: $height;
  background-color: white;
  border-radius: 0 $height $height 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.search button img {
  width: $space-medium;
  height: $space-medium;
}
