@import '../../variables.scss';

.movie {
  background-color: $color-navy;
  border-radius: $space-small;
  aspect-ratio: 9/16; // inverted widescreen
  overflow: hidden;
  cursor: pointer;
}

.movie:hover {
  background-color: darken($color-navy, 10%);
}

.movie img {
  max-width: 100%;
  height: auto;
}

.movie h3 {
  margin: $space-small $space-medium;
}
