// TODO: optimize height/width of movie and img to screen size

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  min-height: 30rem;
  cursor: pointer;
}
.movie img {
  height: 90%;
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.movie h2 {
  margin: 1rem;
  font-size: 14px;
}
