@import '../../variables.scss';

.movie {
  background-color: $color-navy;
  border-radius: $space-small;
  overflow: hidden; // to clip the image rounded corners
  cursor: pointer;
}

.movie:hover {
  background-color: darken($color-navy, 10%);
}

.movie img {
  aspect-ratio: 9/16; // inverted widescreen
}

.movie h3 {
  margin: $space-small $space-medium;
}
