.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  position: relative;
  flex-grow: 1;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem 8rem;
}

.App-searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  p {
    font-size: 13px;
    font-weight: lighter;
    margin: 0;
    color: #7c818d;
  }
}
