.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  position: relative;
  flex-grow: 1;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 0rem 8rem;
}
