// Colors
$color-background: #1b262c;
$color-navy: #0f4c75;
$color-blue: #3282b8;
$color-cyan: #bbe1fa;
$color-yellow: #f6c90e;

// Font
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Space
$space-small: 8px;
$space-medium: 16px;
$space-big: 24px;
$space-ultra: 48px;

// Size
$width-container: 800px; // maximun width of the containers on desktop
$height: 44px; // minimun interaction size recommended for mobile

// Media queries
$media-desktop: 750px;
